<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="format-detection" contect="telephone=no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1, width=device-width, height=device-height target-densitydpi=device-dpi">
    <title>Backbone Tutorial - Product Manager</title>
    
    <!-- 3rd Party Styles -->
    <link rel="stylesheet" type="text/css" href="app/vendor/bootstrap/css/bootstrap.min.css">
    
    <!-- App Styles -->
    <link rel="stylesheet" type="text/css" href="styles/app.css">
  </head>
  <body>
    <div class="height-retainer">
      <header class="header">
        <div class="container">
          <h1>Product Manager</h1>
        </div>
      </header><!-- /.header -->

      <div id="view-content" class="container"></div>
    </div><!-- /.height-retainer -->

    <div class="footer container">
      <div class="text-center copyright">
        &copy; brandonsherette.com 2016
      </div>
    </div><!-- /.footer -->

    <!-- Templates -->    
    <script type="text/template" id="tplHomePartC">
      <p><%= msg %></p>
    </script>
    
    <script type="text/template" id="tplHomePartD">
      <h1 class="text-center">Products</h1>
      <div class="heading-group">
        <h2><%= product.get('name') %></h2>
        <h3 class="subheading"><%= product.get('category') %></h3>
      </div>
    
      <p><%= product.get('description') %></p>
    </script>
    
    <script type="text/template" id="tplHomePartE">
      <h1 class="text-center">Products</h1>
      <div class="heading-group">
        <h2><%= product.name %></h2>
        <h3 class="subheading"><%= product.category %></h3>
      </div>
    
      <p><%= product.description %></p>
    </script>
    
    <script type="text/template" id="tplHomePartF">
      <h1 class="text-center">Products</h1>
      <% if(products.length === 0){ %>
        <p>No Products Found</p>
      <% }else{ %>
        <% products.each(function(product){ %>
          <div class="heading-group">
            <h2><%= product.get('name') %></h2>
            <h3 class="subheading"><%= product.get('category') %></h3>
          </div>
          <p><%= product.get('description') %></p>
        <% });/* end foreach product */ %>
      <% }/* end if-else products found or not */ %>
    </script>
    
    <script type="text/template" id="tplProductList">
      <!-- Add Product List Html Here -->
    </script>
    
    <script type="text/template" id="tplProductItem">
      <!-- Add Product Item Html Here -->
    </script>
    
    <script type="text/template" id="tplProductEdit">
      <!-- Add Product Edit Html Here -->
    </script>
    
    <!-- Scripts -->
    <script src="app/vendor/requirejs/require.js" data-main="app/require-config.js"></script>
  </body>
</html>